/resources/bluprints.pdf
/resources/mapper.csv
/resources/sensors_metadata.xlsx
/data/lines.xlsx
/data/sensor_desc.xlsx
/data/sensor_joined.xlsx
/data/sensors_base.xlsx
/data/sensorsIN.xlsx
/data/sensorsOUT.xlsx
/data/לתיקון.xlsx
